In [1]:
import pandas as pd
import json

In [2]:
covid = "data.csv"
covid_df = pd.read_csv(covid)
covid_df.head()

,city,county,state,country,cases,deaths,recovered,tested,active,population,lat,long,url,maintainers,aggregate,rating,tz,featureId,sources,curators
0,NaN,NaN,NaN,AFG,84.0,2.0,NaN,NaN,NaN,34124811.0,33.930139,67.689542,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Asia/Kabul""]",0.0,NaN,NaN
1,NaN,NaN,NaN,ALB,146.0,5.0,NaN,NaN,NaN,3047987.0,41.112453,20.154356,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Europe/Tirane""]",1.0,NaN,NaN
2,NaN,NaN,NaN,DZA,302.0,21.0,NaN,NaN,NaN,40969443.0,28.032339,1.643238,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Africa/Algiers""]",2.0,NaN,NaN
3,NaN,NaN,NaN,AND,188.0,1.0,NaN,NaN,NaN,85702.0,42.515016,1.568152,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Europe/Andorra""]",3.0,NaN,NaN
4,NaN,NaN,NaN,AGO,3.0,0.0,NaN,NaN,NaN,29310273.0,-11.211304,17.898856,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Africa/Luanda""]",4.0,NaN,NaN

In [3]:
del covid_df['city']
covid_df

,county,state,country,cases,deaths,recovered,tested,active,population,lat,long,url,maintainers,aggregate,rating,tz,featureId,sources,curators
0,NaN,NaN,AFG,84.0,2.0,NaN,NaN,NaN,34124811.0,33.930139,67.689542,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Asia/Kabul""]",0.0,NaN,NaN
1,NaN,NaN,ALB,146.0,5.0,NaN,NaN,NaN,3047987.0,41.112453,20.154356,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Europe/Tirane""]",1.0,NaN,NaN
2,NaN,NaN,DZA,302.0,21.0,NaN,NaN,NaN,40969443.0,28.032339,1.643238,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Africa/Algiers""]",2.0,NaN,NaN
3,NaN,NaN,AND,188.0,1.0,NaN,NaN,NaN,85702.0,42.515016,1.568152,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Europe/Andorra""]",3.0,NaN,NaN
4,NaN,NaN,AGO,3.0,0.0,NaN,NaN,NaN,29310273.0,-11.211304,17.898856,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Africa/Luanda""]",4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3628,Teton County,WY,USA,6.0,NaN,NaN,NaN,NaN,23081.0,43.950812,-110.553385,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",county,0.254902,"[""America/Denver""]",3576.0,NaN,NaN
3629,Uinta County,WY,USA,0.0,NaN,NaN,NaN,NaN,20299.0,41.287295,-110.547361,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",county,0.254902,"[""America/Denver""]",3577.0,NaN,NaN
3630,Washakie County,WY,USA,0.0,NaN,NaN,NaN,NaN,7885.0,43.834371,-107.830746,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",county,0.254902,"[""America/Denver""]",3578.0,NaN,NaN
3631,Weston County,WY,USA,0.0,NaN,NaN,NaN,NaN,6967.0,43.840034,-104.567947,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",county,0.254902,"[""America/Denver""]",3579.0,NaN,NaN
3632,NaN,WY,USA,49.0,NaN,NaN,NaN,NaN,578759.0,42.999967,-107.551996,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",county,0.176471,"[""America/Denver""]",3580.0,NaN,NaN

In [4]:
covid_df.count()

county         3205
state          3458
country        3633
cases          3629
deaths         1511
recovered       446
tested          439
active          421
population     3465
lat            3590
long           3590
url            3633
maintainers    1045
aggregate      3558
rating         3633
tz             3584
featureId      3584
sources         440
curators        103
dtype: int64

In [5]:
columns = ["county", "state", "country", "cases", "deaths", "lat", "long"]
covid_usa = covid_df.loc[covid_df["country"] == "USA", columns]
covid_usa

               county state country  cases  deaths        lat        long
348               NaN    ND     USA   39.0     0.0  47.467211 -100.301958
349               NaN    NV     USA  321.0     6.0  38.501823 -117.020477
350               NaN    VT     USA  123.0     8.0  43.871504  -72.472196
351               NaN    PR     USA   51.0     2.0        NaN         NaN
352               NaN    AS     USA    0.0     0.0        NaN         NaN
...               ...   ...     ...    ...     ...        ...         ...
3628     Teton County    WY     USA    6.0     NaN  43.950812 -110.553385
3629     Uinta County    WY     USA    0.0     NaN  41.287295 -110.547361
3630  Washakie County    WY     USA    0.0     NaN  43.834371 -107.830746
3631    Weston County    WY     USA    0.0     NaN  43.840034 -104.567947
3632              NaN    WY     USA   49.0     NaN  42.999967 -107.551996

[3102 rows x 7 columns]

In [6]:
# usa_index = covid_usa.reset_index(drop=True)
cleanup = covid_usa.dropna(subset=['state'])

In [7]:
cleanup = cleanup.dropna(subset=['lat'])

In [8]:
cleanup = cleanup.dropna(subset=['long'])

In [10]:
cleanup = cleanup[cleanup['cases'] != 0]

In [11]:
cleanup.count()

county     1465
state      1518
country    1518
cases      1518
deaths      726
lat        1518
long       1518
dtype: int64

In [12]:
covid_us =cleanup

In [13]:
covid_us.dtypes

county      object
state       object
country     object
cases      float64
deaths     float64
lat        float64
long       float64
dtype: object

In [14]:
covid_us = covid_us.reset_index(drop=True)

In [15]:
covid_us

,county,state,country,cases,deaths,lat,long
0,NaN,ND,USA,39.0,0.0,47.467211,-100.301958
1,NaN,NV,USA,321.0,6.0,38.501823,-117.020477
2,NaN,VT,USA,123.0,8.0,43.871504,-72.472196
3,Gulf Coast Economic Region,AK,USA,5.0,NaN,59.491968,-148.903015
4,Interior Economic Region,AK,USA,11.0,NaN,65.204163,-151.024977
...,...,...,...,...,...,...,...
1513,Park County,WY,USA,1.0,NaN,44.409599,-109.803725
1514,Sheridan County,WY,USA,4.0,NaN,44.779128,-106.960709
1515,Sweetwater County,WY,USA,1.0,NaN,41.634037,-108.779115
1516,Teton County,WY,USA,6.0,NaN,43.950812,-110.553385
1517,NaN,WY,USA,49.0,NaN,42.999967,-107.551996

In [16]:
covid_us.to_json(r'covid_usa.json', orient = 'records')